#portada {
    background-image: url("../img/tenedor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px;
   }

#experiencia {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 130px;
}

#educacion {
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position: center;
    padding:200px;
}

.iconos {
    border-top: 30px;
    border-radius: 30px;
    padding:100px;
}
.contacto{
    text-align: center;
    border-top: 60px;
    padding:30px;

}
.fontawesone {
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: justify;
    border: 1px;
    padding: 10px;
}